.mobileMenu {
  position: fixed;
  top: 0;
  right: 0; 
  width: 100%;
  height: 100%;
  background-color: rgba(44, 62, 80, 0.95); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transform: translateX(100%); 
  transition: transform 0.3s ease-in-out;
}











.mobileMenu.open {
  transform: translateX(0); 
}

.mobileMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.mobileMenu li {
  margin-bottom: 1rem;
}

.mobileMenu a {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  transition: color 0.3s;
}

.mobileMenu a:hover,
.mobileMenu a.active {
  color: var(--accent);
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  color: #fff;
  font-size: 2.5rem;
  cursor: pointer;
  z-index: 1001;
  transition: transform 0.3s;
}

.closeButton:hover {
  transform: rotate(90deg);
}